@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

body {
    font-family: "Bricolage Grotesque", sans-serif;
      font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}